@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Thin.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Bold.ttf);
    font-weight: 700;
}



@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "inter";
    src: url(./font/Inter-Regular.ttf),
        url(../font/Inter-Light.ttf),
        url(../font/Inter-Medium.ttf),
        url(../font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-SemiBold.ttf);
    font-weight: 600;
}


@font-face{
    font-family: 'seri';
    src:url(../font/NotoSerifKR-SemiBold.otf);
    font-weight: 600;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
figure{
    width: fit-content;
    height: fit-content;
}
img{
    display: block;
    max-width: 100%;
}

header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    /* border-bottom: 1px solid rgba(0,0,0, .1); */
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);

}

header .headeri {
    max-width: 100%;
    height: 100px;
    /* margin: auto 113px; */
    margin: auto 6.6vw;
    /* background-color: steelblue; */
    position: relative;

}

/* 메뉴바가 사이드에 있을때 */
header .headeri .side {
    width: 100%;
    height: 100px;
}

.menu {
    width: 32px;
    height: 32px;
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 모바일버전 search*/
.mo_srch {
    width: 28px;
    height: 28px;
    display: none;
    position: absolute;
    top: 36px;
    left: 32px;
    background-color: transparent;
    border: none;
    margin-left: 1.2rem;
    cursor: pointer;

}
/* */

h1 {
    float: left;
    /* margin-top: 24px; */
    position: absolute;
    top: 27px;
    left: 0;
}

.logo {
    width: 100%;
    height: 46px;
}

h1 span {
    display: none;
}

nav ul {
    width: 50vw;
    height: 100px;
    /* background-color: salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 18rem;
    font-family: "noto";
    font-size: 1.1rem;
}

nav ul li {
    font-weight: 400;
    margin-right: 3rem;
    color: #777;

}
nav ul li:first-of-type {
    font-weight: 500;
    margin-right: 3rem;
    color: #000;
}

header .icon {
    float: right;
    margin-top: 36px;
    display: flex;
}

.web_srch {
    width: 28px;
    height: 28px;
    display: block;
    margin-left: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

header .icon a {
    display: block;
    margin-left: 1.6rem;
    width: 28px;
    height: 28px;
}

/* 모바일 버전 메뉴 */
.mo_menu {
    width: 320px;
    height: 100%;
    padding-left: 20px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    display: none;
    /* display: block; */
}

.mo_menu button {
    display: block;
    width: 28px;
            height: 28px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 30px;
}

.mo_menu ul {
    width: 90%;
    height: 56%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mo_menu ul li {
    width: 100%;
   padding: 25px 0;
    border-bottom: #777 1px solid;
}


/* sub1_wrap */
#sub1_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}


.s1_section1{
    width: 100%;
    position: relative;
}
.s1_section1 .main{
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
    display: block;
}
.s1_section1 .mo_main{
    width: 100%;
    height: 100%;
    position: relative;
    /* top: 80px; */
    display: none;

}

.s1_section1 .s_title{
    /* width: fit-content; */
    position: absolute;
    top: 22.5vw;
    right:8%;
    color: #fff;
    font-family: 'noto';
   display: flex;
   flex-direction: column;
   align-items: flex-end;
text-align: right;
    /* background-color: steelblue; */
 
}
.s1_section1 .s_title h2{
    width: fit-content;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    
    
}
.s1_section1 .s_title p{
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    padding-left: 1.2rem;
}



.s1_section2{
   /* width: 100%; */
   position: relative;
   top: 100px;
   left: 0;
    margin:0  13.1%; 
    /* background-color: beige; */
    padding: 16rem 0 ;
    font-family: 'seri';
    text-align: center;
}
.s1_section2 p:nth-of-type(2){
    width: fit-content;
   margin: auto;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 180%;
}
.s1_section2 .bold{
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
font-size: 2.5rem;
font-weight: 600;
}
.s1_section2 p>span{
    color: #BD9F57;
}

.s1_section3{
    width: 100%;
    /* margin-top: 3rem; */
    position: relative;
    top: 10rem;
}
.s1_section3 .ibox{
    width: 100%;
    height:40vw;
}

.s1_section3 .ibox iframe{
    width: 100%;
    height: 100%;
} 

.s1_section4{
    /* width: 100%; */
    position: relative;
    margin-top: 28rem;
    margin-right: 13.1%;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-between;
    /* background-color: beige; */
}

.s1_section4 .s_left{
    width:54%;
 padding: 0;
}
.s1_section4 .s_right{
    width: 42%;
    /* height: 300px; */
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* margin-top: 6vw; */
    margin:0;
    margin-top: 1rem;
    margin-bottom: 6rem;
    /* background-color: beige; */
}
.s1_section4 .s_right h3{
    font-family: 'cormo';
    font-size: 2.9rem;
    /* font-weight: 600; */
    /* background-color: gold; */
    /* padding-bottom: 1rem; */
    margin-top:2rem;
    padding-bottom: 2rem;

  
}
.s1_section4 .s_right p{
    font-family: 'noto';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 170%;
    /* background-color: salmon; */
    padding-bottom:2rem ;
    margin-bottom: 4rem;

}

.s1_section4 .s_right .s_more {
    display: inline-block;
    width: fit-content;
    font-family: 'noto';
    font-weight: 500;
    font-size: 1rem;
    border-bottom: solid 1px #000;
    padding-bottom: 0.5px; 
    /* background-color: brown; */
    

}

.s1_section5{
    width: 100%;
    position: relative;
    margin-top: 22rem;
    /* background-color: beige; */
}
.s1_section5 h3{
    width: fit-content;
    margin: auto;
    font-family: 'noto';
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 6rem;
    text-align: center;
    line-height: 160%;
    /* background-color: beige; */
}
.s1_section5 .s_btn{
    width: fit-content;
    height: fit-content;
     display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    /* margin: auto 19.8%; */
    margin:auto;
    
}
.s1_section5 .s_btn .s_btnBox{
    /* width: 320px; */
    width: 240px;
    height: 65px;
    line-height: 72px;
    font-family: 'noto';
    font-size: 1.1rem;
    /* font-weight: 500; */
    font-weight: 400;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem;
    align-items: center;
    float: left;
}
.s1_section5 .s_btn .s_btnBox:nth-of-type(2){
    margin: 0 6.2rem;
}
.s1_section5 .s_btn .s_btnBox .arrow{
width: 24px;
height: 24px;
}



/* footer */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #F3F3F3;
    padding-bottom: 4rem;
    margin-top: 21rem;
}

.footerI {
    /* width: 73.63%; */
    /* 1400/1900*100 = 73.68%  ...스크롤빼서 1900이다! */
    margin: auto 13.1%;
    font-family: "noto";
    font-size: 0.9rem;
    font-weight: 400;
    /* background-color: gold; */

}

.footerI .lineBox {
    /* background-color: bisque; */
    padding-top: 3rem;
    /* padding-bottom: 2.9rem; */
    margin-bottom: 3.8rem;
    margin-bottom: 2.8rem;
    /* border-bottom: solid 1px #000; */
    display: flex;
    flex-direction: row;
}

.footerI .lineBox .csBox,
.footerI .lineBox .serBox {
    width: 30%;
    /* background-color: gold; */
    margin-right:8rem;
    margin-top:0 ;

}

.footerI .lineBox .csBox ul li,
.footerI .lineBox .serBox ul li {
    margin-bottom: 0.4rem;
}

.footerI .lineBox .bold {
    font-family: 'inter';
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
}

.footerI .underTop {
    width: 46%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 1.9rem;
    /* background-color:slateblue; */
    font-size: 0.8rem;


}


.footerI .under {
    /* width: 100%; */
    /* height: 200px; */
    /* background-color: steelblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerI .under .underLeft {
    width: 70%;
    font-size: 0.8rem;
    /* background-color: beige; */
}

.footerI .under .underLeft p {
    /* margin-bottom: 1.2rem; */
    line-height: 170%;
}

.footerI .under .underLeft .email {
    font-family: "inter";

}

.footerI .under .underLeft .copy {
    display: inline-block;
    width: fit-content;
    font-family: "inter";
    color: #777;
    margin-top: 1.8rem;
    line-height: 150%;

    /* background-color: gold; */
}

.footerI .under .underRight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* background-color: gold; */
    margin-top: 0;
}

.footerI .under .underRight a:not(:nth-of-type(1)) {
    margin-left: 1.5rem;
}
.footerI .under .underRight a span i{
    display: inline-block;
    font-size: 1.6rem;
}


/* 반응형 */
@media screen and (max-width:1446px){
    h1 {
        clear: left;
        left: 50%;
        transform: translateX(-50%);
    }

    header .headeri {
        height: 156px;
        margin: auto 4vw;

    }

    nav ul {
        width: 100%;
        height: 56px;
        top: 100px;
        left: 0;
        justify-content: center;
    }
    .s1_section1 .main{
        top: 156px;
    }
    .s1_section1 .s_title{
        top: 28.6vw;
        right: 5%;
    }
    .s1_section1 .s_title h2{
        font-size: 1.8rem;
    } 
    .s1_section1 .s_title p{
    font-size: 1.4rem;
        
    }
.s1_section2{
    top: 156px;
}
    .s1_section2 p:nth-of-type(2){
        font-size: 1.5rem;
        line-height: 170%;
    }
    .s1_section2 .bold{
    font-size: 2.2rem;
    }
    .s1_section4{
        margin-right: 12%;
    
    }
.s1_section4 .s_right{
    margin-top: 0;

}
.s1_section4 .s_right h3{
    font-size: 2.4rem;
    padding-bottom: 1rem;

}
.s1_section4 .s_right p{
    margin-bottom: 0.8rem;
}

}

@media screen and (max-width:1024px){
    .footerI .underTop{
        width: 70%;
    }
    .s1_section1 .s_title h2{
        width: 370px;
        font-size: 1.6rem;
    } 
    .s1_section1 .s_title p{
        width: 380px;
    font-size: 1.3rem; 
    }
    .s1_section2{
        margin:0  10%; 
        }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.4rem;
    }
    .s1_section2 .bold{
    font-size: 2rem;
    }
.s1_section4{
    margin-right: 8%;

}
    /* .s1_section4 .s_right{
        margin-top: 0vw;
    
    } */
    .s1_section4 .s_right h3{
        font-size: 2rem;
        margin-top:0;
    
    }
.s1_section4 .s_right p{
    font-size: 1rem;
    line-height: 160%;

}
.s1_section5 h3{
    font-size: 2rem;

}
 .s1_section5 h3{
    margin-bottom: 3rem;

}
.s1_section5 .s_btn{
    height: 240px;
   flex-direction: column;
}
.s1_section5 .s_btn .s_btnBox:nth-of-type(2){
    margin: 0;
} 

}
@media screen and (max-width:968px){
    header .headeri {
        height: 100px;
    }

    .menu {
        display: block;
            width: 28px;
            height: 28px;
            top: 36px;
    }

    nav ul {
        display: none;
    }
    .s1_section1 .main{
        top: 100px;
    }
.s1_section1 .s_title{
    top: 23.6vw;

}
    .s1_section1 .s_title h2{
        width: 340px;
        font-size: 1.5rem;
    margin-bottom: 0.9rem;

    } 
    .s1_section1 .s_title p{
        width: 380px;
    font-size: 1.2rem;
        
    }
    .s1_section2{
        top: 100px;
    }

.s1_section4{
    flex-direction: column;
    justify-content: center;
    margin-right:0;
    margin-top: 28rem;
}
.s1_section4 .s_left{
    width:100%;
   padding:0  calc((100% - 900px) / 2);


}
.s1_section4 .s_right{
    width: 73.63%;
    margin: 0 13.1%;
    margin-top: 6rem;
    text-align: left;
    align-items: start;
}
.s1_section4 .s_right h3{
    padding-bottom: 1.3rem;

}
.s1_section4 .s_right p{
    margin-bottom: 3rem;
}
    .footerI .lineBox .csBox,
    .footerI .lineBox .serBox {
        width: 50%;
        margin-right:1rem;
    }


}
@media screen and (max-width:768px){
    header .headeri {
        height: 80px;
    }
    .menu{
    top: 26px;
    }
    .mo_srch {
        display: block;
        top: 26px;
    }
    .web_srch {
        display: none;
    }

    h1 {
        top: 20px;
    }

    .logo {
        width: 100%;
        height: 40px;
    }
header .icon{
    margin-top: 26px;
}
.s1_section1 .main{
    top: 80px;
}

    .s1_section1 .s_title h2{
        width: 300px;
        font-size: 1.3rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 320px;
    font-size: 1rem;
        
    }
    .s1_section2{
        margin:0 8%; 
        top: 80px;
    padding: 14rem 0 ;

        }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.3rem;
    }
    .s1_section2 .bold{
    font-size: 1.9rem;
    }
    .s1_section3 .ibox{
        height:50vw;
    }
.s1_section4 .s_right{
    margin-top: 4rem;
}
    .s1_section5 h3{
        width: 420px;
    }
.footerI .underTop{
    width: 100%;
}
}

@media screen and (max-width:576px){
    h1 {
        top: 24px;
    }

    .logo {
        height: 32px;
    }

    header .headeri {
        margin: auto 5.2vw;

    }

    .menu {
        width: 26px;
        height: 26px;
        top: 27px;

    }
    .mo_menu button {
        width: 26px;
        height: 26px;
    }
    .mo_srch {
        width: 26px;
        height: 26px;
        top: 27px;
        margin-left: 0.8rem;
    }

    header .icon {
        margin-top: 27px;
    }

    header .icon a {
        width: 26px;
        height: 26px;
        margin-left: 1.2rem;
    }

    .s1_section1 .main{
        display: none;
    }
    .s1_section1 .mo_main{
        display: block;
    }
    .s1_section1 .s_title{
        top: 50vw;
    
    }
    .s1_section1 .s_title{
        width: 100%;
        top: 58vw;
    }
    .s1_section1 .s_title h2{
        width: 440px;
        font-size: 1.9rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 400px;
    font-size: 1.4rem;
        
    }
    .s1_section2{
        top: 0;
    margin:0  4%; 
    padding: 10rem 0 ;

    }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.2rem;

    }
    .s1_section2 .bold{
    font-size: 1.6rem;
    }
.s1_section3{
    top: 2rem;
}
.s1_section4{
    margin-top:16rem;
}
.s1_section4 .s_right{
    width: 84%;
    margin: 0 8%;
    margin-top: 4rem;
}
.s1_section4 .s_right .s_more {
    font-size: 0.9rem
}
.s1_section5 h3{
    width: 340px;
    font-size: 1.6rem;
}
    .footerI{
        margin: auto 8%;
    
    }
    .footerI .lineBox{
        flex-direction: column;
    
    }
    .footerI .lineBox .serBox{
        margin-top:2.2rem ;
        margin-top:1.8rem ;
    
    }
    .footerI .underTop{
        flex-direction: column;
        height: 7rem;
    }
    .footerI .under{
        flex-direction: column;
    
    }
    .footerI .under .underLeft {
        width: 100%;
    }
    .footerI .under .underLeft .copy{
        width: 420px;
    }
    .footerI .under .underRight{
        justify-content: flex-start;
        margin-top: 1.5rem;
    
    }
}
/* 470 */
@media screen and (max-width:500px){
    .s1_section1 .s_title h2{
        width: 345px;
        font-size: 1.6rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 345px;
    font-size: 1.2rem;
        
    }
    .s1_section2{
    margin:0  8%; 
    }
    .s1_section2 p:nth-of-type(2){
        width: 240px;
        font-size: 1.1rem;
    }
    .s1_section2 .bold{
    font-size: 1.5rem;
    }

}


@media screen and (max-width:394px){
    h1 {
        top: 27px;
    }

    .logo {
        height: 26px;
       
    }
    .menu {
        width: 22px;
        height: 22px;
        top: 29px;

    }

    .mo_srch {
        width: 22px;
        height: 22px;
        top: 29px;

        margin-left: 0.3rem;
    }
    header .icon {
        margin-top: 29px;
    }
    header .icon a {
        width: 22px;
        height: 22px;
        margin-left: 0.8rem;
    }
   
    .s1_section1 .s_title h2{
        width: 300px;
        font-size: 1.4rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 290px;
    font-size: 1rem;
        
    }
    .s1_section2{
        margin:0 ; 
        }
    .s1_section2 p:nth-of-type(2){
        /* width: 240px; */
        font-size: 1rem;
    }
    .s1_section2 .bold{
    font-size: 1.4rem;
    }
   

    .s1_section4 .s_right h3{
        font-size: 1.8rem;
    
    }
    .s1_section4 .s_right p{
    font-size: 0.9rem;
    }
    .s1_section5 h3{
        /* width:300px; */
        /* font-size: 1.4rem; */

        width:240px;
        font-size: 1.5rem;
    }

    .footerI .under .underLeft .copy{
        width: fit-content;
        width: 300px;
    }
}
@media screen and (max-width:280px){
    h1 {
        top: 28px;
    }

    .logo {
        height: 24px;
    }
    .s1_section1 .s_title h2{
        width: 240px;
        font-size: 1.1rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 256px;
    font-size: 0.9rem;
        
    }

    .s1_section2 p:nth-of-type(2){
        /* width: 240px; */
        font-size: 0.9rem;
    }
    .s1_section2 .bold{
    font-size: 1.2rem;
    }
    .s1_section5 h3{
        /* width:250px;
        font-size: 1.2rem; */
        width:240px;
        /* font-size: 1.4rem; */
    }
    /* .s1_section5 h3{
    
        
        width:240px;
        font-size: 1.5rem;
    } */
}