@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Bold.ttf);
    font-weight: 700;
}



@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "inter";
    src: url(./font/Inter-Regular.ttf),
        url(../font/Inter-Light.ttf),
        url(../font/Inter-Medium.ttf),
        url(../font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-SemiBold.ttf);
    font-weight: 600;
}


@font-face{
    font-family: 'seri';
    src:url(../font/NotoSerifKR-SemiBold.otf);
    font-weight: 600;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
figure{
    width: fit-content;
    height: fit-content;
}
img{
    display: block;
    max-width: 100%;
}

header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 990;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    padding: 0 4%;
}

header .headeri {
    max-width: 1400px;
    height: 100px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



/* */

.logo {
    width: 140px;
}

h1 span {
    display: none;
}

.h_right {
    display: flex;
    justify-content: space-between;

}

nav ul {
    width: 41vw;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "noto";
    font-weight: 300;
    font-size: 1rem;

}
nav ul li:first-of-type{
    font-weight: 500;
}

header .icon {
    width: fit-content;
    display: flex;
    align-items: center;
}

header .icon button {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

header .icon li {
    margin-left: 1.4em;
    width: 20px;
    height: 20px;
}

header .menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
    /* background-color: gold; */
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 25px;
    right: -6px;
}

header .menu>img {
    width: 18px;
    height: 18px;
    background-color: transparent;
    /* background-color: #fff; */
    position: absolute;
    top: 6px;
    right: 6px;
}

/* 모바일 버전 메뉴 */
.mo_menu {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    /* background-color: gold; */
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    display: none;

}

.mo_menu .x {
    width: 18px;
    height: 18px;
    top: 31px;
    right: 8%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 981;

    display: block;
}

.mo_menu ul {
    /* background-color: slategrey; */
    max-width: 768px;

    margin: auto 8%;
    /* margin: auto; */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "noto";
    font-weight: 400;
    font-size: 1.1rem;

}

.mo_menu ul li {

    padding: 25px 0;

}

/* sub1_wrap */
#sub1_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}


.s1_section1{
    width: 100%;
    position: relative;
}
.s1_section1 .main{
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
}


.s1_section1 .s_title{
    /* width: fit-content; */
    position: absolute;
    top: 22.5vw;
    right:8%;
    color: #fff;
    font-family: 'noto';
   display: flex;
   flex-direction: column;
   align-items: flex-end;
text-align: right;
}
.s1_section1 .s_title h2{
    width: fit-content;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.s1_section1 .s_title p{
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    padding-left: 1.2rem;
}



.s1_section2{
   /* width: 100%; */
   overflow: hidden;
   position: relative;
   top: 100px;
   /* left: 0; */
    margin:250px 13.6%; 
    font-family: 'seri';
    text-align: center;
    
}
.s1_section2 p:nth-of-type(2){
    width: fit-content;
    /* height: 93px; */
   margin: auto;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 180%;
}
.s1_section2 .bold{
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
font-size: 2.5rem;
font-weight: 600;
}
.s1_section2 p>span{
    color: #BD9F57;
}

.s1_section3{
    width: 100%;
    margin:0 auto ;
    margin-top: 350px;
    padding: 0 13.6%;
    position: relative;
    overflow: hidden;
}

.s1_section3 .ibox{
    width: 100%;
    height:40vw;
    margin: auto;
}

.s1_section3 .ibox iframe{
    width: 100%;
    height: 100%;
    border: none;
    /* title="Twinings Flagship Store London" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen */
} 

.s1_section4{
    width: 86.4%;
    overflow: hidden;
    position: relative;
    margin-top: 350px;
    margin-right: 13.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.s1_section4 .s_left{
    width:55%;
}
/* .s1_section4 .s_left img{
    width: fit-content;
} */

.s1_section4 .s_left .min{
    width: fit-content;
    height: fit-content;
}

.s1_section4 .s_right{
    /* width: 42%; */
    width: 680px;
    /* background-color: beige; */
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 50px;
}
.s1_section4 .s_right h3{
    font-family: 'cormo';
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 110%;

}
.s1_section4 .s_right p{
    /* width: 630px; */
    font-family: 'noto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
    /* padding-bottom:2rem ; */
    /* margin-bottom: 4rem; */
    padding: 2rem 0;

}

.s1_section4 .s_right .s_more {
    display: inline-block;
    width: fit-content;
    font-family: 'noto';
    font-weight: 400;
    font-size: 0.9rem;
    border-bottom: solid 1px #000;
    padding-bottom: 0.5px; 
    margin-top: 2rem;
}

.s1_section5{
    width: 100%;
    position: relative;
    margin-top: 300px;
    /* margin-bottom:18rem; */
}
.s1_section5 h3{
    width: fit-content;
    margin: auto;
    font-family: 'noto';
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 6rem;
    text-align: center;
    line-height: 160%;
}
.s1_section5 .s_btn{
    width: fit-content;
    height: fit-content;
     display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin:auto;   
}
.s1_section5 .s_btn .s_btnBox{
    display: inline-block;
    width: 240px;
    height: 65px;
    font-family: 'noto';
    font-size: 1.1rem;
    font-weight: 400;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem;
    align-items: center;
}
.s1_section5 .s_btn .s_btnBox:nth-of-type(2){
    margin: 0 6.2rem;
}
.s1_section5 .s_btn .s_btnBox .arrow{
width: 24px;
height: 24px;
}
/* wrap끝 */


/* footer */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 4rem;
    color: #fff;
    position: relative;
    margin-top: 300px;

}

.footerI {
    overflow: hidden;
    margin: auto;
    max-width: 1500px;
padding:4rem;
    
    font-family: "noto";
    font-size: 0.9rem;
    font-weight: 300;
    /* padding-top: 3rem; */
    position: relative;
    
    display: flex;
    justify-content: space-between;

}

/* hideInfo */
.hideInfo{
    display: none;
    font-family: 'inter';
height: 26px;
   /* background-color: seagreen; */
   /* margin-top: 1.6rem; */
 
}
.hideInfo span{
    display: inline-block;
    margin-top: 5px;
}
.btn{
    display:inline block;
    background-color: #000;
    color: #fff;
    border: #fff solid 1px;
    height: 26px;
    padding: 4px 8px;
    position: absolute;
    font-size: 0.7rem;
    margin-left: 20px;
}

/* fLeft */
.footerI .fLeft{
    width:600px;
    overflow: hidden;
    /* float: left; */
    /* background-color: seagreen; */
    padding-right: 2rem;
}
.footerI .fLeft .underTop {
    height: 20px;
    line-height: 20px;
    /* background-color: salmon; */
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.footerI .fLeft .underTop li{
    float: left;
    margin-right: 1.8rem;
}
.footerI .fLeft .underLeft {
    /* width: 560px; */
    font-size: 0.8rem;
    float: left;
}

.footerI .fLeft .underLeft p {
    line-height: 200%;
}

.footerI .fLeft .underLeft .email {
    font-family: "inter";

}

/*.fRight */
.footerI .fRight {
    width: 460px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
} 

.footerI .fRight .csBox,
.footerI .fRight .serBox {
    width: 220px;
    padding-right: 1.5rem;
    margin-top: 0;
    /* background-color: burlywood; */
}

.footerI .fRight .csBox ul li,
.footerI .fRight .serBox ul li {
    margin-bottom: 0.4rem;
}

.footerI .fRight .bold {
    font-family: 'inter';
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}

.footerI .copy {
    display: inline-block;
    width: fit-content;
    font-family: "inter";
    color: #777;
    margin-top: 1.8rem;
    line-height: 150%;
    overflow: hidden;
    position: absolute;
   bottom: 0;
   left: 64px;
}


.footerI .sns {
    width: fit-content;
    overflow: hidden;
 position: absolute;
right: 64px;
bottom: 0;

}

.footerI .sns a:not(:nth-of-type(1)) {
    margin-left: 1rem;
}

.footerI .sns a span i {
    display: inline-block;
    font-size: 1.6rem;
}


/* 반응형 */

@media screen and (max-width:1446px){

    .s1_section1 .s_title h2{
        font-size: 1.8rem;
    } 
    .s1_section1 .s_title p{
    font-size: 1.4rem;  
    }

    .s1_section4 .s_left{
        width:54%;
    }
    .s1_section4 .s_left .min{
        height: 460px;
        object-fit: cover;
    }
    .s1_section4 .s_right{
        width: 545px;
    }


} 

@media screen and (max-width:1194px){
    .s1_section1 .s_title h2{
        width: 370px;
        font-size: 1.6rem;
    } 
    .s1_section1 .s_title p{
        width: 380px;
        font-size: 1.3rem; 
    }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.5rem;
    }
    .s1_section2 .bold{
        font-size: 2.2rem;
    }
}

@media screen and (max-width:1025px) {
    .logo {
        width: 120px;
    }

    nav ul {
        width: 50vw;
        margin-right: 2.6rem;

    }

    header .icon button {
        width: 18px;
        height: 18px;
        margin-right: 1rem;
    }

    header .icon li {
        margin-left: 1rem;
        width: 18px;
        height: 18px;
    }
/* .s1_section1 .main{
    top: 100px;
} */
    .s1_section1 .s_title h2{
        width: 370px;
        font-size: 1.6rem;
    } 
    .s1_section1 .s_title p{
        width: 380px;
        font-size: 1.3rem; 
    }

    .s1_section2{
        margin: 220px 8%;
    }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.4rem;
    }
    .s1_section2 .bold{
        font-size: 2rem;
    }

.s1_section3{
    padding: 0 8%;
    margin-top: 320px;
}
    .s1_section4 {
        width: 92%;
        margin-top: 300px;
        margin-right: 8%;
        
    }
    .s1_section4 .s_right h3{
        font-size: 1.7rem;
        margin-top:0.6rem;
    }
    .s1_section4 .s_right p{
        font-size: 0.9rem;
        line-height: 160%;
        padding: 1.5rem 0;
    }
    .s1_section4 .s_left{
        width:55%;
    }
    .s1_section4 .s_left .min{
        height: 295px;
        /* object-fit: contain; */
    }
    .s1_section4 .s_right{
        width: 460px;
        width: 50%;
        padding-left: 40px;
        padding-left: 30px;
 
    }
    .s1_section4 .s_right .s_more{
        font-size: 0.8rem;
    margin-top: 1rem;

    }
    /* .s1_section5{
        margin-top: 16.8rem;
    } */
    .s1_section5 h3{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    
    .s1_section5 .s_btn{
        height: 240px;
        flex-direction: column;
    }
    .s1_section5 .s_btn .s_btnBox:nth-of-type(2){
        margin: 0;
    }  
    
        .footerI{
            font-size: 0.8rem;
            flex-direction: column-reverse;
         }
         .footerI .fRight {
            margin-bottom: 2rem;
         }
    
    
    
}



@media screen and (max-width:769px){
        header .headeri {
            height: 80px;
        }
    
        .logo {
            width: 120px;
        }
    
        header .icon {
            display: none;
        }
    
        header {
            padding: 0 8%;
        }
    
        header .menu {
            display: block;
        }
    
        nav ul {
            display: none;
        }
.s1_section1 .main{
    top: 80px;
}

    .s1_section1 .s_title h2{
        width: 300px;
        font-size: 1.3rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 320px;
    font-size: 1rem;
        
    }
    .s1_section2{
        margin:180px 8%;
        top: 80px;
        }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.2rem;
    }
    .s1_section2 .bold{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    }
    .s1_section3{
        margin-top: 260px;
    }
    .s1_section3 .ibox{
        height:50vw;
    }
    .s1_section4{
        flex-direction: column;
        width: 100%;
    }
    .s1_section4 .s_left{
        width: 100%;
    }
    .s1_section4 .s_left .min{
        width: fit-content;
        height: fit-content;
    }
.s1_section4 .s_right{
    width: 84%;
    margin: auto;
    margin-top: 2.8rem;
    text-align: left;
    align-items: flex-start;
    padding: 0;
}
.s1_section4 .s_right h3{
font-size:1.8rem ;
}
.s1_section4 .s_right p{
    padding: 1.8rem 0;
}
.s1_section4 .s_right .s_more {
    margin-top: 1.5rem;
}
/* .s1_section5{
    margin-top: 19rem;
} */
.s1_section5 h3{
        width: 280px;
    font-size: 1.8rem;

    }
    footer{
        padding-bottom: 2.5rem;
      }
      .footerI{
          padding-bottom: 5.5rem;  
          align-items: flex-start;
        }
  .hideInfo{
      display: block;
  }
  .footerI .fLeft{
      width: 100%;
      padding: 0;
  }
  .footerI .fLeft .underTop{
      display: none;
      margin-top: 1.2rem;
  }
  .footerI .fLeft .underLeft{
      display: none;
  }
  .footerI .fRight{
   width: 80%;
  }
  .footerI .fRight .csBox,
  .footerI .fRight .serBox {
      width: fit-content;
  }
  .footerI .copy {
      bottom: 46px;
  }
      .footerI .sns{
          bottom: 0;
          left: 64px;
      }
}

@media screen and (max-width:576px){
  
    .s1_section1 .s_title{
        top: 50vw;
    
    }
    .s1_section1 .s_title{
        width: 100%;
        top: 58vw;
    }
    .s1_section1 .s_title h2{
        width: 420px;
        font-size: 1.9rem;
        margin-bottom: 0.7rem;

        width: 370px;
        font-size: 1.7rem;

    } 
    .s1_section1 .s_title p{
        width: 400px;
    font-size: 1.4rem;
        
    }
    .s1_section2{
    margin:180px 0 ; 
    /* padding: 10rem 0 ; */

    }
    .s1_section2 p:nth-of-type(2){
        font-size: 1.1rem;
        width: 452px;
        margin: auto;
    }
    .s1_section2 .bold{
    font-size: 1.4rem;
    }
.s1_section4{
    margin-top:15rem;
}
.s1_section4 .s_right{
    width: 84%;
    margin: 0 8%;
    margin-top: 4rem;
}
.s1_section4 .s_right .s_more {
    font-size: 0.9rem
}
/* .s1_section5{
    margin-top:20rem;
} */

.s1_section5 h3{
    width: 230px;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.footerI .fRight{
    width: 100%;
   }

}

@media screen and (max-width:451px){
    .logo {
        width: 100px;
    }
.s1_section1 .s_title{
    top: 60vw;
}
    .s1_section1 .s_title h2{
        width: 345px;
        font-size: 1.6rem;
        margin-bottom: 0.7rem;
        
        font-size: 1.4rem;
        width: 320px;
    } 
    .s1_section1 .s_title p{
        width: 345px;
    font-size: 1.2rem;
    
    width: 320px;
    font-size: 1.1rem;
        
    }
    /* .s1_section2 p:nth-of-type(2){
        width: 240px;
        font-size: 1.1rem;
    }
    .s1_section2 .bold{
    font-size: 1.5rem;
    } */
    .s1_section2{
        margin:150px 0; 
        }
        .s1_section2 p:nth-of-type(2){
            width: 220px;
            font-size: 1rem;
        }
    /* .s1_section4 .s_right{
        margin-top: 2.6rem;

        } */
        .s1_section4 .s_right h3{
            font-size: 1.5rem;
        }
        .s1_section4 .s_right p{
        /* font-size: 0.8rem; */
        margin-bottom: 1.5rem;
    }
    .s1_section4 .s_right .s_more {
            font-size: 0.8rem;
    
        }
.s1_section5{
    margin-top:16rem;
}

.s1_section5 h3{
    width: 220px;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
.s1_section5 .s_btn .s_btnBox{
    font-size: 1rem;
    width: 226px;
    height: 61px;

}
footer{
    margin-top: 16rem;
}
    .footerI {
        padding:3rem 3rem ;
        padding-bottom: 7rem;
    }
    .footerI .copy{
        width:79%;
       line-height: 180%;
       left: 48px;
       bottom: 50px;
       /* margin-top: 0; */
    
    }
    .footerI .sns{
    left: 48px;
    }

} 
/* 470 */
/* @media screen and (max-width:500px){
    .s1_section1 .s_title h2{
        width: 345px;
        font-size: 1.6rem;
    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 345px;
    font-size: 1.2rem;
        
    }
    .s1_section2{
    margin:0  8%; 
    }
    .s1_section2 p:nth-of-type(2){
        width: 240px;
        font-size: 1.1rem;
    }
    .s1_section2 .bold{
    font-size: 1.5rem;
    }

} */


@media screen and (max-width:391px){
    .s1_section1 .s_title{
        top: 64vw;
    }
    .s1_section1 .s_title h2{
        width: 300px;
        font-size: 1.3rem;
        
        width: 240px;
        font-size: 1.1rem;

    margin-bottom: 0.7rem;

    } 
    .s1_section1 .s_title p{
        width: 290px;
    font-size: 1rem;
    line-height: 140%;
    
    width: 260px;
font-size: 0.9rem;

    }
    
    
    .s1_section2 p:nth-of-type(2){
        font-size: 0.9rem;
        width: 190px;
    }
    .s1_section2 .bold{
        font-size: 1.2rem;
    }
    .s1_section3{
        margin-top:230px;
    
    }
.s1_section3 .ibox{
    height: 56vw;
}



    /* .s1_section5{
        margin-top:16rem;
        margin-bottom:14rem;
    }    
    .s1_section5 h3{
        width:220px;
        font-size: 1.5rem;
    } */

}
@media screen and (max-width:281px){
  
    .s1_section1 .s_title h2{
        width: 220px;
        font-size: 1rem;
    margin-bottom: 0.4rem;

    } 
    .s1_section1 .s_title p{
        width: 240px;
    font-size: 0.8rem;
        
    }
    .s1_section2 .bold{
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }
    .s1_section2 p:nth-of-type(2){
        font-size: 0.8rem;
        width: 180px;
    line-height: 170%;

    }
    /* .s1_section5 h3{       
        width:240px;
    } */
}