@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Playfair Display", serif; */

@font-face {
  font-family: "maru";
  src: url(../font/MaruBuri-SemiBold.otf);
}



/* addClass사용 */
.fix{
    position: fixed;
    animation: drop 0.6s;

}
@keyframes drop{
    0%{
        top:-2rem;
    }
    100%{
        top:0;
    }
}


/* header */

header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    /* position: fixed; */
    position: absolute;
    top: 0;
    z-index: 990;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

header .headeri {
    max-width: 1440px;
    padding: 0 20px;
    height: 80px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



/* */

.logo {
    width: 160px;
}

h1 span {
    display: none;
}
h1 img{
  width: 100%;
}
/* .h_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

nav ul {
    /* width: 41vw;
    justify-content: space-between;
     */
    /* width: 55vw; */
    /* width: 45vw; */
    display: flex;
    /* gap:10px; */
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Sans KR", system-ui;
    font-weight: 500;
    font-size: 1.1rem;

}
nav ul li{
  text-align: center;
  /* width:116px; */
}
nav ul li a{
  display: block;
  width: 100%;
  padding: 0 30px;
}
header .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


header .icon li:nth-child(1) {
    width: 24px;
    height: 24px;
}

header .icon li:nth-child(2) {
    margin-left: 1.4em;
    width: 27px;
    height: 24px;
}

header .icon li:nth-child(3) {
    margin-left: 1.4em;
    width: 24px;
    height: 27px;
}

header .menu {
    /* width: 38px; */
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
header .menu span{
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background-color: #000;
}
/* 모바일 버전  */
.mo_menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
    right: -100%;
    /* display: none; */
}

.mo_menu::-webkit-scrollbar{
    display: none;
}

.mo_menu .x {
    width: 36px;
    /* height: 30px; */
    cursor: pointer;
    border: none;
    position: absolute;
    top: 32px;
    right: 7.5%;
    z-index: 981;
background-color: #fff;
    display: block;
}

/* .mo_menu .x>img{
    width: 18px;
    height: 18px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

} */


.mo_menu>ul {
    max-width: 768px;
    margin: auto 8%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    font-family: "Noto Sans KR", system-ui;
    font-weight: 500;
    font-size: 1.3rem;
}

/* .mo_menu>ul li {
    padding: 25px 0;
    background-color: antiquewhite;
} */

/* mo_icon */
.mo_icon{
 
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 1%;
    right: 7.5%;
    z-index: 981;
 
    width: 100%;
    height: 60px;
}
.mo_icon ul{
    width: 50%;
    display: flex;
    justify-content: end;
    /* gap: 20px; */
    align-items: center;
}

.mo_icon li:nth-child(1) {
    width: 24px;
    height: 24px;
}

.mo_icon li:nth-child(2) {
    margin-left: 1.4em;
    width: 27px;
    height: 24px;
}

.mo_icon li:nth-child(3) {
    margin-left: 1.4em;
    width: 24px;
    height: 27px;
}



/* footer */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 4rem;
    color: #fff;
    position: relative;

}

#footer{
  margin-top: 16rem;
}

.footerI {
    overflow: hidden;
    margin: auto;
    max-width: 1500px;
   padding:4rem;
    
font-family: "Noto Sans KR", system-ui;
    font-size: 0.9rem;
    font-weight: 300;
    position: relative;
    
    display: flex;
    justify-content: space-between;

}

/* hideInfo */
.hideInfo{
    display: none;
font-family: "Inter", system-ui;
height: 26px;
margin-bottom: 16px;
}
.hide_inner{
    display: flex;
    align-items: center;
    gap: 1%;
}
.hideInfo span{
    display: block;
    margin-top: 5px;
}
.btn{
    display:block;
    background-color: #000;
    color: #fff;
    border: #fff solid 1px;
    height: 26px;
    padding: 4px 8px;
    /* position: absolute; */
    font-size: 0.7rem;
    margin-left: 20px;
}

/* fLeft */
.footerI .fLeft{
    width:600px;
    overflow: hidden;
    padding-right: 2rem;
}
.footerI .fLeft .underTop {
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.footerI .fLeft .underTop li{
    float: left;
    margin-right: 1.8rem;
}
.footerI .fLeft .underLeft {
    font-size: 0.8rem;
    float: left;
}

.footerI .fLeft .underLeft p {
    line-height: 200%;
}

.footerI .fLeft .underLeft .email {
    font-family: "Inter", system-ui;
}

/*.fRight */
.footerI .fRight {
    width: 460px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
} 

.footerI .fRight .csBox,
.footerI .fRight .serBox {
    width: 220px;
    padding-right: 1.5rem;
    margin-top: 0;
}

.footerI .fRight .csBox ul li,
.footerI .fRight .serBox ul li {
    margin-bottom: 0.4rem;
}

.footerI .fRight .bold {
    font-family: "Inter", system-ui;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}

.footerI .copy {
    display: inline-block;
    width: fit-content;
    font-family: "Inter", system-ui;
    color: #777;
    margin-top: 1.8rem;
    line-height: 150%;
    overflow: hidden;
    position: absolute;
   bottom: 0;
   left: 64px;
}


.footerI .sns {
    width: fit-content;
    overflow: hidden;
 position: absolute;
right: 64px;
bottom: 0;

}

.footerI .sns a:not(:nth-of-type(1)) {
    margin-left: 1rem;
}

.footerI .sns a span i {
    display: inline-block;
    font-size: 1.6rem;
}

/*반응형 */

@media screen and (max-width:1680px){
  /* header {
    padding: 0 13.6%;
} */
}

@media screen and (max-width:1400px){

  .logo {
    width: 140px;
}
  header .icon li:not(:last-child){
      display: none;
  }

  header .menu {
      display: flex;
  }

  nav ul {
      display: none;
  }
}



@media screen and (max-width:1024px) {
  .logo {
    width: 128px;
}
/* header {
    padding: 0 8%;
} */



}
@media screen and (max-width:768px) {
  .logo {
    width: 120px;
}
header .headeri {
  height: 65px;
}
  /* header .menu {
    width: 30px;
  } */
  
}

@media screen and (max-width:575px) {
    header .menu {
        width: 22px;
        height: 18px;
    }
  #footer{
    margin-top: 14rem;
  }
}

@media screen and (max-width:451px) {
 .logo {
        width: 100px;
    }
}