@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
/* font-family: "Noto Sans KR", system-ui;
font-family: "Cormorant Garamond", serif;
font-family: "Inter", system-ui;
font-family: "Noto Serif KR", serif; */

/* 
@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Bold.ttf);
    font-weight: 700;
}



@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "inter";
    src: url(./font/Inter-Regular.ttf),
        url(../font/Inter-Light.ttf),
        url(../font/Inter-Medium.ttf),
        url(../font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-SemiBold.ttf);
    font-weight: 600;
}


@font-face{
    font-family: 'seri';
    src:url(../font/NotoSerifKR-SemiBold.otf);
    font-weight: 600;
} */



/* addClass사용 */
.fix{
    position: fixed;
    animation: drop 0.6s;

}
@keyframes drop{
    0%{
        top:-2rem;
    }
    100%{
        top:0;
    }
}

/* header */

header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    /* position: fixed; */
    position: absolute;
    top: 0;
    z-index: 990;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    padding: 0 4%;
}

header .headeri {
    max-width: 1400px;
    height: 80px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



/* */

.logo {
    width: 140px;
}

h1 span {
    display: none;
}

.h_right {
    display: flex;
    justify-content: space-between;
}

nav ul {
    width: 41vw;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "noto";
    font-weight: 300;
    font-size: 1rem;
}


header .icon {
    width: fit-content;
    display: flex;
    align-items: center;
}

/* header .icon button {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-color: saddlebrown;
} */

header .icon li {
    margin-left: 1.4em;
    width: 20px;
    height: 20px;
}

header .menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 25px;
    right: -6px;
}

header .menu>img {
    width: 18px;
    height: 18px;
    background-color: transparent;
    position: absolute;
    top: 6px;
    right: 6px;
}

/* 모바일 버전 메뉴 */
.mo_menu {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    display: none;
}

.mo_menu .x {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 26px;
    right: 7.5%;
    z-index: 981;
background-color: #fff;
    display: block;
}

.mo_menu .x>img{
    width: 18px;
    height: 18px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


.mo_menu ul {
    max-width: 768px;
    margin: auto 8%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "noto";
    font-weight: 400;
    font-size: 1.1rem;
}

.mo_menu ul li {
    padding: 25px 0;
}

/* footer */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 4rem;
    color: #fff;
    position: relative;

}

.footerI {
    overflow: hidden;
    margin: auto;
    max-width: 1500px;
   padding:4rem;
    
font-family: "Noto Sans KR", system-ui;
    font-size: 0.9rem;
    font-weight: 300;
    position: relative;
    
    display: flex;
    justify-content: space-between;

}

/* hideInfo */
.hideInfo{
    display: none;
font-family: "Inter", system-ui;
height: 26px;
margin-bottom: 16px;
}
.hide_inner{
    display: flex;
    align-items: center;
    gap: 1%;
}
.hideInfo span{
    display: block;
    margin-top: 5px;
}
.btn{
    display:block;
    background-color: #000;
    color: #fff;
    border: #fff solid 1px;
    height: 26px;
    padding: 4px 8px;
    /* position: absolute; */
    font-size: 0.7rem;
    margin-left: 20px;
}

/* fLeft */
.footerI .fLeft{
    width:600px;
    overflow: hidden;
    padding-right: 2rem;
}
.footerI .fLeft .underTop {
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.footerI .fLeft .underTop li{
    float: left;
    margin-right: 1.8rem;
}
.footerI .fLeft .underLeft {
    font-size: 0.8rem;
    float: left;
}

.footerI .fLeft .underLeft p {
    line-height: 200%;
}

.footerI .fLeft .underLeft .email {
    font-family: "Inter", system-ui;
}

/*.fRight */
.footerI .fRight {
    width: 460px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
} 

.footerI .fRight .csBox,
.footerI .fRight .serBox {
    width: 220px;
    padding-right: 1.5rem;
    margin-top: 0;
}

.footerI .fRight .csBox ul li,
.footerI .fRight .serBox ul li {
    margin-bottom: 0.4rem;
}

.footerI .fRight .bold {
    font-family: "Inter", system-ui;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}

.footerI .copy {
    display: inline-block;
    width: fit-content;
    font-family: "Inter", system-ui;
    color: #777;
    margin-top: 1.8rem;
    line-height: 150%;
    overflow: hidden;
    position: absolute;
   bottom: 0;
   left: 64px;
}


.footerI .sns {
    width: fit-content;
    overflow: hidden;
 position: absolute;
right: 64px;
bottom: 0;

}

.footerI .sns a:not(:nth-of-type(1)) {
    margin-left: 1rem;
}

.footerI .sns a span i {
    display: inline-block;
    font-size: 1.6rem;
}