@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Bold.ttf);
    font-weight: 700;
}


@font-face {
    font-family: "yes";
    src: url(../font/YES24MyoungjoR.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "yes";
    src: url(../font/YES24MyoungjoB.ttf);
    font-weight: 900;
}



@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}


@font-face {
    font-family: "inter";
    src: url(../font/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-SemiBold.ttf);
    font-weight: 600;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/* // 기본설정 */


figure {
    width: fit-content;
    height: fit-content;
}



header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 990;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    padding: 0 4%;
}

header .headeri {
    max-width: 1400px;
    height: 100px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



/* */

.logo {
    width: 140px;
}

h1 span {
    display: none;
}

.h_right {
    display: flex;
    justify-content: space-between;

}

nav ul {
    width: 41vw;

    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "noto";
    font-weight: 300;
    font-size: 1rem;

}


header .icon {
    width: fit-content;
    display: flex;
    align-items: center;
}

header .icon button {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

header .icon li {
    margin-left: 1.4em;
    width: 20px;
    height: 20px;
}

header .menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
    /* background-color: gold; */
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 25px;
    right: -6px;
}

header .menu>img {
    width: 18px;
    height: 18px;
    background-color: transparent;
    /* background-color: #fff; */
    position: absolute;
    top: 6px;
    right: 6px;
}

/* 모바일 버전 메뉴 */
.mo_menu {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    /* background-color: gold; */
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    display: none;

}

.mo_menu .x {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 41px;
    right: 8%;
    z-index: 981;

    display: block;
}

.mo_menu ul {
    /* background-color: slategrey; */
    max-width: 768px;

    margin: auto 8%;
    /* margin: auto; */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.mo_menu ul li {

    padding: 25px 0;

}

/* section_2 상품 여백 조절 */
/* 슬라이드 부모  마진 음수*/
/* .section_2 .slick-list {
    margin: 0 -44px;
    margin: 0 -0.43%;
    padding: 0 ;
} */

/* 슬라이드 자식 마진 양수 */
/* .section_2 .slick-slide {
    margin: 0 44px;
    margin: 0 0.43%;
    padding: 0 ;
} */




.section_6 .slick-prev {
    display: block;
    position: absolute;
    left: -50px;
}

.section_6 .slick-next {
    display: block;
    position: absolute;
    right: -50px;
}



/* wrap */
#wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* section_1 */
.section_1 {
    width: 100%;
    position: relative;
}

.section_1 .main {
    position: relative;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    display: block;
}

.section_1 .titleBox {
    /* width: 50%; */
    width: 600px;
    margin: auto  10%;
    /* margin-left: 10%; */
    position: absolute;
    top: 22vw;
    left: 0;
    font-family: "noto";
}

.section_1 .titleBox h2 {
    font-size: 3.4rem;
    font-weight: 900;
    margin-bottom: 1.2vw;
}

.section_1 .titleBox p {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 160%;
}

/* 모바일버전 */
.section_1 .mo_main1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
}


/* section_2  슬라이드*/
.section_2 {
    width: 100%;
    position: relative;
    margin-top: 250px;
}

.section_2 h3 {
    margin-left: 13.6%;

    /* max-width: 1400px;
    margin: auto; */

    font-family: "cormo";
    font-weight: 600;
    font-size: 2rem;
    line-height: 130%;
    /* background-color: gainsboro; */

}

.section_2 .itemBox {
    width: 77.2%;

    overflow: hidden;
    margin: auto;
    margin-top: 3rem;

    /* background-color:salmon; */
}


.section_2 .itemBox .item {
    overflow: hidden;
    /* background-color: beige; */
    /* margin:auto 2.42vw; */
    margin: auto 0.58%;
    /* margin:auto 6.1vh; */
}

.section_2 .itemBox .item .all {
    display: inline-block;
    /* width: 400px; */
    overflow: hidden;
    /* margin: auto; */
}

.section_2 .itemBox .item .itemInfo {
    /* width: 440px; */
    overflow: hidden;
    margin-top: 1.6rem;
    /* background-color:slategrey; */
}

.section_2 .itemBox .item .itemInfo>p {
    font-family: "inter";
    font-weight: 300;
    font-size: 0.9rem;
    color: #777;
}

.section_2 .itemBox .item .itemInfo>p:first-of-type {
    height: 20px;
    line-height: 20px;
}

.section_2 .itemBox .item .itemInfo .underline {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 0.9rem;
    /* overflow: hidden; */
    font-family: "inter";
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid #ddd;
    /* background-color:beige;  */
    color: #000;
}

.section_2 .itemBox .item .itemInfo .underline>p:first-of-type {
    margin-bottom: 12px;
    /* background-color: gold; */
}

.section_2 .itemBox .item .itemInfo>p:nth-of-type(2) {
    height: 50px;
    line-height: 160%;
    margin-top: 20px;
    margin-bottom: 16px;
    /* line-height: 50px; */
    font-family: "noto";
    font-weight: 400;
    color: #000;
    /* background-color:saddlebrown;  */

}

.section_2 .itemBox .item .itemInfo>p:nth-of-type(3) {
    height: 20px;
    line-height: 20px;
    font-weight: 400;
}

.section_2 .more {
    width: fit-content;
    font-family: "noto";
    font-weight: 500;
    font-size: 1rem;
    border-bottom: solid 1px #000;
    padding-bottom: 0.5px;
    margin: auto;
    margin-top: 10rem;
}

/* section_3 슬라이드 */
.section_3 {
    width: 72.92%;
    overflow: hidden;
    margin: auto;
    margin-top: 380px;
    position: relative;
}

.section_3 .slide {
    width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 0;

}

.section_3 .slide a {
    display: inline-block;
    position: relative;
}

.section_3 .slide img {
    width: fit-content;
    margin: auto;
    position: relative;
}

.section_3 .slide p {
    width: 192px;
    height: 48px;
    line-height: 48px;
    /* padding: 0 8px; */
    /* width: 184px;
    height: 45px;
    line-height: 45px; 
    padding: 0 6px;*/
    background-color: #fff;
    position: absolute;
    right: 3.5%;
    /* right: 18%; */
    top: 50%;
    transform: translateY(-50%);
    font-family: "inter";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;

}


/* section_4 */
.section_4 {
    width: 100%;
    margin-top: 300px;
}

.section_4 h3 {
    margin-left: 13.6%;
    font-family: "cormo";
    font-weight: 600;
    font-size: 2rem;
    line-height: 130%;
}

.section_4>p {
    margin-left: 13.6%;
    margin-right: 13.1%;
    font-family: "noto";
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 55px;
}

.section_4 .container {
    /* 여기에 그리드 적용 => .box가 정렬됨  */
    width: 72.92%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.section_4 .container .num {
    /* 여기에 그리드 적용 =>  내용물(사진, 글)들이 정렬*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section_4 .container .when {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17% 0;
}

/* .section_4 .container .when p:first-of-type { */
.section_4 .container .when .w,
.section_4 .container .when .ice {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "yes";
    font-weight: 500;
    width: fit-content;
    height: 36px;
    margin: auto;
    /* background-color: gold; */
}

.section_4 .container .when .ice {
    height: 72px;
    line-height: 130%;
    /* background-color: salmon; */

}

.section_4 .container .when p:nth-of-type(2) {
    display: inline-block;
    width: 181px;
    height: 37px;
    line-height: 37px;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "noto";
    background-color: #000;
    color: #fff;
    margin: auto;
    cursor: pointer;
}

/* section_5 */
.section_5 {
    width: 86.4%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 330px auto;
    margin-left: 13.6%;
    
}

.section_5 .left {
    width: 685px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_5 .left h3 {
    font-family: "cormo";
    font-weight: 600;
    /* font-size: 2.5rem; */
    font-size: 2.3rem;
    line-height: 130%;

}

.section_5 .left span {
    display: inline-block;
    font-family: 'inter';
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.section_5 .left p {
    /* width: 50%; */
    margin-top: 3.7rem;
    line-height: 160%;
    font-family: "noto";
    font-size: 1.1rem;
    font-weight: 400;

}

.section_5 .right {
    /* 772/1900*100 */
    width: 46.4%;
   
}

/* .section_5 .right .min {
    width: 770px;
} */

.section_5 a .more {
    width: fit-content;
    font-family: "noto";
    font-weight: 500;
    font-size: 1rem;
    border-bottom: solid 1px #000;
    padding-bottom: 0.5px;
    margin-top: 6rem;
}


/* section_6  review*/
.section_6 {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 72px;
    position: relative;

}

.section_6 .reviewTitle {
    /* width: 100%; */
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 67px;
    margin: 0 auto;
    margin-bottom: 42px;
    font-size: 1rem;
    font-family: "noto";
    color: #fff;
    /* background-color: beige; */
}

.section_6 .reviewTitle p:first-of-type {
    font-family: "inter";
    font-weight: 500
}

.section_6 .reviewTitle p>span {
    font-weight: 600
}

.section_6 .reviewTitle .star {
    margin: 0 20px;
}

.section_6 .review {
    overflow: hidden;
    margin: auto 6%;
}

.section_6 .review .rBox {

    height: 210px;
    padding: 2.1rem 1.2rem;
    background-color: #fff;
    font-family: "noto";
    font-size: 0.9rem;
    font-weight: 400;
    /* width: 100%; */
    position: relative;
    margin-right: 0.8rem;

}


.section_6 .review .rBox .rStar {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "inter";
    font-size: 0.8rem;
    font-weight: 400;

}

.section_6 .review .rBox p:first-of-type {
    width: 86.84%;
    margin-top: 18px;
}

.section_6 .review .rBox p:nth-of-type(2) {
    position: absolute;
    right: 1.2vw;
    bottom: 1.5vw;
    font-size: 0.7rem;
    font-weight: 400;
    color: #999;
}

.section_6 .review .rBox .rStar figure {
    margin-left: 25px;
}

.section_6 a .more {
    width: fit-content;
    font-family: "noto";
    font-weight: 500;
    font-size: 1rem;
    border-bottom: solid 1px #000;
    padding-bottom: 0.5px;
    margin: auto;
    margin-top: 48px;
}

/* 한문장 */
.stn {
    width: fit-content;
    font-family: "cormo";
    font-size: 2.5rem;
    font-weight: 500;
    margin: 14rem auto;
    text-align: center;
    line-height: 100%;
}

/* //wrap 끝 */


/* footer */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 4rem;
    color: #fff;
}

.footerI {
    /* width: 73.63%; */
    /* 1400/1900*100 = 73.68%  ...스크롤빼서 1900이다! */
    margin: auto 13.1%;
    font-family: "noto";
    font-size: 0.9rem;
    font-weight: 400;
}

.footerI .lineBox {
    padding-top: 3rem;
    margin-bottom: 3.8rem;
    margin-bottom: 2.8rem;
    display: flex;
    flex-direction: row;
}

.footerI .lineBox .csBox,
.footerI .lineBox .serBox {
    width: 30%;
    margin-right: 8rem;
    margin-top: 0;

}

.footerI .lineBox .csBox ul li,
.footerI .lineBox .serBox ul li {
    margin-bottom: 0.4rem;
}

.footerI .lineBox .bold {
    font-family: 'inter';
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
}

.footerI .underTop {
    width: 46%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 1.9rem;
    font-size: 0.8rem;


}


.footerI .under {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerI .under .underLeft {
    width: 70%;
    font-size: 0.8rem;
}

.footerI .under .underLeft p {
    line-height: 170%;
}

.footerI .under .underLeft .email {
    font-family: "inter";

}

.footerI .under .underLeft .copy {
    display: inline-block;
    width: fit-content;
    font-family: "inter";
    color: #777;
    margin-top: 1.8rem;
    line-height: 150%;
}

.footerI .under .underRight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 0;
}

.footerI .under .underRight a:not(:nth-of-type(1)) {
    margin-left: 1.5rem;
}

.footerI .under .underRight a span i {
    display: inline-block;
    font-size: 1.6rem;
}



/* 반응형 */
/* @media screen and (min-height:391px) and (max-height:940px){
    .mo_menu{
        background-color: steelblue;
        width: 450px;
        }
} */


@media screen and (max-width:1680px) {

    .section_4 .container .when .w,
    .section_4 .container .when .ice {
        font-size: 1.35rem;
    }

    .section_4 .container .when p:nth-of-type(2) {
        width: 172px;
        height: 34px;
        line-height: 34px;
        font-size: 0.8rem;

    }

    .section_3 .slide p {
        width: 184px;
        height: 46px;
        line-height: 46px;
        font-size: 0.9rem;

    }

    .section_5 .left {
    /* width: 630px;
    padding-right: 60px; */
    width: 42%;
    }

    .section_5 .left h3 {
        font-size: 2rem;
    }

    .section_5 .left span {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }

    .section_5 .left p {
        margin-top: 3rem;
        font-size: 1rem;
    }

    .section_5 .right {
        width: 50%;
       
    }
  
    .section_5 a .more {
        font-size: 0.9rem;
        margin-top: 4.5rem;
    }

}


@media screen and (max-width:1025px) {
    .logo {
        width: 120px;
    }

    nav ul {
        width: 50vw;
        margin-right: 2.6rem;

    }

    header .icon button {
        width: 18px;
        height: 18px;
        margin-right: 1rem;
    }

    header .icon li {
        margin-left: 1rem;
        width: 18px;
        height: 18px;
    }

    .section_1 .titleBox {
        top: 26vw;
        margin-left: 8%;
  
    }

    .section_1 .titleBox h2 {
        font-size: 2.8rem;
    }

    .section_1 .titleBox p {
        font-size: 1.8rem;
    }

    .section_2 {
        margin-top: 200px;
    }

    .section_2 h3,
    .section_4 h3 {
        font-size: 1.8rem;
        margin-left: 8%;
        /* background-color: salmon; */
    }

    .section_2 .itemBox {
        width: 85.5%;
        /* background-color: saddlebrown; */
    }

    .section_2 .itemBox .item {
        margin: auto 0.2%;

    }

    .section_2 .itemBox .item .itemInfo .underline {
        height: 5.2rem;
        flex-direction: column;
        padding-top: 6px;
    }

    .section_2 .more {
        font-size: 0.9rem;
        margin-top: 6.5rem;

    }

    .section_3 {
        margin-top: 240px;
        width: 83.9%;
    }
  
    .section_3 .slide p {
        font-size: 0.8rem;
        width: 168px;
        height: 42px;
        line-height: 42px;
    }

    .section_4 {
        margin-top: 240px;
    }

    .section_4>p {
        margin-left: 8%;
    }

    .section_4 .container {
        width: 84%;

    }

    .section_4 .container .when .w,
    .section_4 .container .when .ice {
        font-size: 1.2rem;
    }

    .section_4 .container .when p:nth-of-type(2) {
        width: 140px;
        height: 32px;
        line-height: 32px;

    }

    .section_5 {
        width: 92%;
    margin: 250px auto;
        margin-left: 8%;
    }

    .section_5 .left {
        width: 440px;
        padding-right: 40px;
    }
    .section_5 .left h3 {
        font-size: 1.8rem;
    }
    .section_5 .left span {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
    }
    .section_5 .left p {
        font-size: 1rem;
        font-size: 0.9rem;

    }
    .section_5 .right {
        width: 50%;
        /* width: 44.7%; */
        /* width:fit-content; */
    }
    .section_5 .right .min{
        width: 470px;
        object-fit:cover;
        height: 428px;
    }
    .section_5 a .more {
        
        margin-top: 3.8rem;
    }


}

/* 아이패드프로3 */
/* @media screen and (max-width:1194px) {
    .section_1 .titleBox {
        top: 30vw;

    }

    .section_2 h3 {
        font-size: 2rem;
        margin-top: 15rem;
    }
    .section_4 h3 {
        font-size: 2rem;
        margin-top: 14rem;
    }
    .section_5 .left h3{
        font-size: 2rem;
    }
    .section_2 .itemBox{
        margin-top: 3rem; 
    }
    .section_2 .itemBox .item .itemInfo{
    margin-top: 2.6rem;
    }
    .section_2 .itemBox .item .itemInfo .underline {
        height: 4.5rem;
        font-size: 1.1rem;
    }

    .section_2 .more {
        margin-top: 5.2rem;

    }

    .section_3 {
        margin-top: 18rem;
    }
    .section_4 .container .when p:first-of-type{
        font-size: 1rem; 
    }

    .section_4 .container .when p:nth-of-type(2) {
        width: 136px;
        height: 30px;
        line-height: 30px;
        font-weight: 400;
    }
    .section_5{
        margin:10rem 0;
    }
    .section_5 .left{
        width: 50%;
    }
    .section_5 .left p{
        margin-top:2rem;
    
        }
        .section_6{
            margin-top: 63rem;
            }
            .footerI .underTop{
                width: 70%;
            }
} */


/* @media screen and (max-width:968px) {


    .menu {
        display: block;
        
    }
    .section_1 .titleBox {
        top: 26vw;
    }

    .section_1 .titleBox h2 {
        font-size: 2.8em;
    }

    .section_1 .titleBox p {
        font-size: 1.6rem;
    }

    .section_2 .itemBox .item .itemInfo p {
        font-size: 1rem;
    }

    .section_2 .itemBox .item .itemInfo .underline {
        font-size: 1.3rem;
        height: 5rem;
    }
    .section_5{
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 20rem;


    }
    .section_5 .left{
        width: 73.63%;
       margin: 0 13.1%;
    }

    .section_5 .right{
        width: 100%;
    }
    .section_5 a .more{
    margin-top:5rem;

    }
    .section_6{
        margin-top: 140rem;
    }
    .footerI .lineBox .csBox,
.footerI .lineBox .serBox {
    width: 50%;
    margin-right:1rem;
}

} */
/* @media screen and (min-height:300px){
    .mo_menu {
        background-color: gold;
        width: 300px; 
        min-height: 900px;
    }
} */
@media screen and (max-width:769px) {
    header .headeri {
        height: 80px;
    }

    .logo {
        width: 120px;
    }

    header .icon {
        display: none;
    }

    header {
        padding: 0 8%;
    }

    header .menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    .section_1 .main {
        top: 80px;
    }

    .section_1 .titleBox {
        top: 25vw;

    }

    .section_1 .titleBox h2 {
        font-size: 2.2em;
    }

    .section_1 .titleBox p {
        font-size: 1.4rem;
    }

    .section_2 {
        margin-top: 180px;
    }

    .section_2 h3,
    .section_4 h3 {
        font-size: 1.7rem;
    }

    .section_2 .itemBox {
        width: 86.5%;
    }

    .section_2 .itemBox .item {
        margin-right: 0.26%;
    }

    .section_3 .slide p {
        font-size: 0.7rem;
        width: 150px;
        height: 37.5px;
        line-height: 37.5px;
    }

    .section_4>p {
        margin-top: 6px;
        margin-bottom: 30px;

    }

    .section_4 .container {
        grid-template-columns: repeat(1, 1fr);

    }

    .section_4 .container .when .w,
    .section_4 .container .when .ice {
        font-size: 1.4rem;
    }

    .section_4 .container .when .ice {
        line-height: 145%;
    }

    .section_4 .container .when p:nth-of-type(2) {
        display: inline-block;
        width: 160px;
        height: 37px;
        line-height: 37px;
        font-size: 0.9rem;
        font-weight: 400;
        margin: auto;
    }

    .section_5{
    width:100%;
    margin:300px auto;
    /* margin-top: 300px; */
    flex-direction: column-reverse;
    }
    
.section_5 .left{
    width: 84%;
    padding-right: 0;
    /* padding: 0 5rem; */
    margin: 5rem auto;
}

.section_5 .right {
    width: 100%;
    margin: auto;  

}

.section_5 .right .min{
    object-fit:contain;
    width: fit-content;
    height: fit-content;
}
 
    /* .section_6 {
        margin-top: 70rem;
    } */

    .stn {
        margin: 14rem 8%;

    }

    .footerI .underTop {
        width: 100%;
    }

}

@media screen and (max-width:576px) {

    .section_1 .titleBox {
        top: 56vw;
    }

    .section_2 .itemBox .item .itemInfo>p {
        font-size: 0.8rem;
    }

    /* .section_2 .itemBox .item .itemInfo .underline>p:first-of-type{
    height: 50px;
    line-height: 136%;
  margin-bottom:0;
    
} */
    .section_2 .itemBox .item .itemInfo .underline {
        height: 4.8rem;
        font-size: 1rem;
    }

    .section_2 h3,
    .section_4 h3 {
        font-size: 1.5rem;
        /* margin-left: 8%; */
    }

    .section_3 {
        width: 100%;
    }

    .section_3 .slide {
        display: flex;
        flex-direction: column;
    }
 

    .section_4 .container {
        width: 100%;
    }

    .section_4>p {
        /* margin-left:8%;
        margin-right:8%; */
        font-size: 1rem;
    }


}




/* 
.section_1 .titleBox {
    top: 30vw;

}

.section_1 .titleBox h2 {
    font-size: 2.2em;
}

.section_1 .titleBox p {
    font-size: 1.4rem;
} 
*/

@media screen and (max-width:451px) {
    .logo {
        width: 100px;
    }

    .section_1 .titleBox {
        width: 288px;
    }

    .section_1 .titleBox h2 {
        font-size: 1.6em;
    }

    .section_1 .titleBox p {
        font-size: 1.2rem;
    }

    .section_2 .itemBox {
        padding-bottom: 3rem;
    }

    /* dots */
    .section_2 .slick-dots {
        bottom: 0;
    }

    .section_2 .itemBox .item .itemInfo>p {
        font-size: 0.9rem;
    }

    .section_2 .itemBox .item .itemInfo .underline {
        font-size: 1.1rem;
    }

    .section_2 .more {
        margin-top: 4rem;
        font-size: 0.8rem;
    }

    .section_3 .slide p {
        font-size: 0.64rem;
        width: 142px;
        height: 35.5px;
        line-height: 35.5px;
    }

    .section_4 .container .when {
        padding: 20% 0;
    }

    .section_4 .container .when .w,
    .section_4 .container .when .ice {
        font-size: 1.2rem;
    }

    .section_4 .container .when .ice {
        line-height: 135%;
    }

    .section_4 .container .when p:nth-of-type(2) {
        display: inline-block;
        width: 140px;
        height: 32px;
        line-height: 32px;
        font-size: 0.8rem;

    }
    .section_5 .left h3{
        font-size: 1.5rem;
    }
}

/* 

@media screen and (max-width:576px) {



    header .icon {
        margin-top: 27px;
    }

    header .icon a {
        width: 26px;
        height: 26px;
        margin-left: 1.2rem;
    }

    .section_1 .main {
        display: none;
    }

    .section_1 .mo_main1 {
        display: block;
    }

    .section_1 .titleBox {
        top: 56vw;
    }

    .section_1 .titleBox h2 {
        font-size: 2.2em;
    }

    .section_1 .titleBox p {
        font-size: 1.4rem;
    }

    .section_2 {
        top: 150vw;
    }
    .section_2 h3{
        margin-left:8%;
    }
    .section_2 .itemBox{
        width: 84%;
        margin-top: 2.4rem; 
    }
    .section_2 .itemBox .item .imgBox {
        width: 100%;
    }
    .section_2 .itemBox .item .itemInfo {
        margin-top: 2rem;
        padding-right: 0;
    }
 
    .section_2 .more{
        font-size: 0.9rem;
    }
    .section_5 a .more,
    .section_6 a .more{
        font-size: 0.9rem;
    }
    .section_3 {
        width: 100%;
        margin-top: 65rem;
    }


.section_3 .slide p {
    width: 142px;
    height: 36px;
    line-height: 36px;
    letter-spacing: 0.2rem;
}
.section_4 h3 {
    margin-top: 10rem;
    margin-left:8%;
}
.section_4>p{
    margin-left:8%;
    margin-right:8%;
    font-size: 1rem;
}

.section_4 .container .when p:first-of-type{
    font-size: 1.2rem;
    margin-top: 10vw;
    font-weight: 700;
}

.section_4 .container .when p:nth-of-type(2){
    width: 146px;
    height: 32px;
    line-height: 32px;
    font-size: 0.8rem;
}
.section_5 .left {
    width: auto;
    margin:0 8%;
    margin-top: 3rem
}
.section_5 .left span{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
} 
.section_5 .left p {
    font-size: 0.9rem;
}
.section_6{
    margin-top: 108rem;
}
.section_6 .reviewTitle{
    margin: 0 8.3%;
    margin-bottom: 42px;
    justify-content: space-between;

}
.stn{
    margin: 11rem 8%;
    font-size: 2rem;    
}
.footerI{
    margin: auto 8%;

}
.footerI .lineBox{
    flex-direction: column;

}
.footerI .lineBox .serBox{
    margin-top:2.2rem ;
    margin-top:1.8rem ;

}
.footerI .underTop{
    flex-direction: column;
    height: 7rem;
}
.footerI .under{
    flex-direction: column;

}
.footerI .under .underLeft {
    width: 100%;
}
.footerI .under .underLeft .copy{
    width: 420px;
}
.footerI .under .underRight{
    justify-content: flex-start;
    margin-top: 1.5rem;

}
} */

/* 가로모드 */
/* @media screen and (orientation:landscape){
    .mo_menu{
        width:100%;
        overflow: scroll;
        }
        
}  */

/* 아이폰 */
@media screen and (max-width:391px) {

    .section_1 .titleBox {
        width: 280px;
        top: 62vw;
    }


    .section_1 .titleBox h2 {
        font-size: 1.3rem;
    }

    .section_1 .titleBox p {
        font-size: 1.1rem;
    }

    .section_2 .itemBox .item .imgBox .btn button {
        width: 26px;
        height: 26px;
        margin-left: 1rem;
    }
    .section_3 .slide p {
        font-size: 0.62rem;
        width: 136px;
        height: 34px;
        line-height: 34px;
    }

    .section_4>p {
        margin-right: 12%;
    }

    .section_4 .container .when .w,
    .section_4 .container .when .ice {
        font-size: 1rem;
    }

    .section_4 .container .when .ice {
        height: fit-content;
        line-height: 124%;
    }

    .section_4 .container .when p:nth-of-type(2) {
        font-size: 0.7rem;
        width: 116px;
        height: 26px;
        line-height: 26px;

    }

    .section_5 {
       margin-bottom: 280px;
    }

    .section_6 .reviewTitle {
        margin: 0 8.6%;
    }

    .stn {
        margin: 10rem 8%;
        font-size: 1.8rem;
    }

    .footerI .under .underLeft .copy {
        width: fit-content;
        width: 300px;

    }

}

@media screen and (max-width:281px) {


    .section_1 .titleBox {
        width: 260px;
        top: 65vw;
    }

    .section_1 .titleBox h2 {
        font-size: 1.3rem;
    }

    .section_1 .titleBox p {
        font-size: 0.9rem;
    }

    .section_2 .itemBox .item .itemInfo .underline {
        font-size: 1rem;
    }

    .section_4>p {
        margin-top: 8px;
        margin-bottom: 36px;

    }

    .section_4 .container .when p:first-of-type {
        font-size: 0.8rem;
        font-weight: 500;

    }

    .section_4 .container .when p:nth-of-type(2) {
        width: 92px;
        height: 18px;
        line-height: 18px;
        font-size: 0.5rem;
    }

    .section_5 a .more,
    .section_6 a .more {
        font-size: 0.8rem;
    }

    .section_6 {
        margin-top: 92rem;
    }
}