@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "noto";
    src: url(../font/NotoSansKR-Bold.ttf);
    font-weight: 700;
}



@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "cormo";
    src: url(../font/CormorantGaramond-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "inter";
    src: url(./font/Inter-Regular.ttf),
        url(../font/Inter-Light.ttf),
        url(../font/Inter-Medium.ttf),
        url(../font/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "inter";
    src: url(../font/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'seri';
    src: url(../font/NotoSerifKR-SemiBold.otf);
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    width: fit-content;
    height: fit-content;
}

img {
    max-width: 100%;
    display: block;
}

ul,
li {
    list-style: none;
}


header {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 990;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    padding: 0 4%;
}

header .headeri {
    max-width: 1400px;
    height: 100px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* */

.logo {
    width: 140px;
}

h1 span {
    display: none;
}

.h_right {
    display: flex;
    justify-content: space-between;
}

nav ul {
    width: 41vw;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "noto";
    font-weight: 300;
    font-size: 1rem;
}


header .icon {
    width: fit-content;
    display: flex;
    align-items: center;
}

header .icon button {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

header .icon li {
    margin-left: 1.4em;
    width: 20px;
    height: 20px;
}

header .menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 25px;
    right: -6px;
}

header .menu>img {
    width: 18px;
    height: 18px;
    background-color: transparent;
    position: absolute;
    top: 6px;
    right: 6px;
}

/* 모바일 버전 메뉴 */
.mo_menu {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    display: none;
}

.mo_menu .x {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 31px;
    right: 8%;
    z-index: 981;

    display: block;
}

.mo_menu ul {
    max-width: 768px;
    margin: auto 8%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mo_menu ul li {
    padding: 25px 0;
}


/* sub2_wrap */
#sub2_wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 160px;
}

.s2_section1 {
    width: 100%;
    overflow: hidden;
}

.s2_section1 h2 {
    margin-left: 13.6%;
    font-family: "cormo";
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.s2_section1 .teaBox {
    width: 74.6%;
    margin: auto;
   position: relative;
}



.s2_section1 .teaBox .box{
    /* width: 320px; */
    position: relative;  
   overflow: hidden;
   margin: auto 0.31%;
}
/* .s2_section1 .teaBox .box a{
    width: fit-content;
    display: inline-block;
    overflow: hidden;
} */
.s2_section1 .teaBox .box figure{
    overflow: hidden;
}

/* .s2_section1 .teaBox .box .m:hover{
    transform: scale(1.2);
    transition-duration: 1s;
} */


.s2_section1 .teaBox .box .tea {
    font-family: 'inter';
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    width: 184px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
   

}
.s2_section1 .teaBox .box .tea:hover{
   opacity: .8;
}

.s2_section1 .desc {
    font-family: "noto";
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 160%;
    margin: auto 13.6%;
    margin-top: 2.6rem;
    max-width: 860px;
}


.s2_section2 {
    margin: 200px 13.6%;
}

.s2_section2 .dropFilter {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.s2_section2 .dropFilter select {
    display: inline-block;
    padding: 6px 9px;
    font-family: 'noto';
    font-size: 15px;
    font-size: 500;
    background-color: #f5f5f5;
    border: none;
}

.s2_section2 .check {
    display: inline-block;
    font-family: 'noto';
    font-size: 15px;
    font-size: 500;
    padding: 6px 12px;
    background-color: #f5f5f5;
}

.s2_section2 .itemBox {
    width: 100%;
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 14.3rem;
    column-gap: 1.9rem;
}

.s2_section2 .itemBox .item {
    overflow: hidden;
    margin: auto 0.58%;
}

.s2_section2 .itemBox .item .all {
    display: inline-block;
    overflow: hidden;
}

.s2_section2 .itemBox .item .itemInfo {
    overflow: hidden;
    margin-top: 1.6rem;
}

.s2_section2 .itemBox .item .itemInfo>p {
    font-family: "inter";
    font-weight: 300;
    font-size: 0.9rem;
    color: #777;
}

.s2_section2 .itemBox .item .itemInfo>p:first-of-type {
    height: 20px;
    line-height: 20px;
}

.s2_section2 .itemBox .item .itemInfo .underline {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 0.9rem;
    font-family: "inter";
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid #ddd;
    color: #000;
}

.s2_section2 .itemBox .item .itemInfo .underline>p:first-of-type {
    margin-bottom: 12px;
}

.s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
    height: 50px;
    line-height: 160%;
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: "noto";
    font-weight: 400;
    color: #000;
}

.s2_section2 .itemBox .item .itemInfo>p:nth-of-type(3) {
    height: 20px;
    line-height: 20px;
    font-weight: 400;
}




/* footer */
footer {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 4rem;
    color: #fff;
    position: relative;
margin-top: 350px;
}

.footerI {
    overflow: hidden;
    margin: auto;
    max-width: 1500px;
padding:3rem 4rem;
    
    font-family: "noto";
    font-size: 0.9rem;
    font-weight: 300;
    /* padding-top: 3rem; */
    position: relative;
    
    display: flex;
    justify-content: space-between;

}

/* hideInfo */
.hideInfo{
    display: none;
    font-family: 'inter';
height: 26px;
   /* background-color: seagreen; */
   /* margin-top: 1.6rem; */
 
}
.hideInfo span{
    display: inline-block;
    margin-top: 5px;
}
.btn{
    display:inline block;
    background-color: #000;
    color: #fff;
    border: #fff solid 1px;
    height: 26px;
    padding: 4px 8px;
    position: absolute;
    font-size: 0.7rem;
    margin-left: 20px;
}

/* fLeft */
.footerI .fLeft{
    width:600px;
    overflow: hidden;
    /* float: left; */
    /* background-color: seagreen; */
    padding-right: 2rem;
}
.footerI .fLeft .underTop {
    height: 20px;
    line-height: 20px;
    /* background-color: salmon; */
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.footerI .fLeft .underTop li{
    float: left;
    margin-right: 1.8rem;
}
.footerI .fLeft .underLeft {
    /* width: 560px; */
    font-size: 0.8rem;
    float: left;
}

.footerI .fLeft .underLeft p {
    line-height: 200%;
}

.footerI .fLeft .underLeft .email {
    font-family: "inter";

}

/*.fRight */
.footerI .fRight {
    width: 460px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
} 

.footerI .fRight .csBox,
.footerI .fRight .serBox {
    width: 220px;
    padding-right: 1.5rem;
    margin-top: 0;
    /* background-color: burlywood; */
}

.footerI .fRight .csBox ul li,
.footerI .fRight .serBox ul li {
    margin-bottom: 0.4rem;
}

.footerI .fRight .bold {
    font-family: 'inter';
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}

.footerI .copy {
    display: inline-block;
    width: fit-content;
    font-family: "inter";
    color: #777;
    margin-top: 1.8rem;
    line-height: 150%;
    overflow: hidden;
    position: absolute;
   bottom: 0;
   left: 64px;
}


.footerI .sns {
    width: fit-content;
    overflow: hidden;
 position: absolute;
right: 64px;
bottom: 0;

}

.footerI .sns a:not(:nth-of-type(1)) {
    margin-left: 1rem;
}

.footerI .sns a span i {
    display: inline-block;
    font-size: 1.6rem;
}
/* 
@media screen and (max-width:1446px) {
    h1 {
        clear: left;
        left: 50%;
        transform: translateX(-50%);
    }

    header .headeri {
        height: 156px;
        margin: auto 4vw;

    }

    nav ul {
        width: 100%;
        height: 56px;
        top: 100px;
        left: 0;
        justify-content: center;
    }
    #sub2_wrap {
        top: 196px;
            
        }
    .s2_section2 .itemBox .item .itemInfo .underline {
        height: 5.2rem;
        flex-direction: column;
        padding-top: 6px;
    }
} */

@media screen and (max-width:1025px){
    .logo {
        width: 120px;
    }

    nav ul {
        width: 50vw;
        margin-right: 2.6rem;

    }

    header .icon button {
        width: 18px;
        height: 18px;
        margin-right: 1rem;
    }

    header .icon li {
        margin-left: 1rem;
        width: 18px;
        height: 18px;
    }
    .s2_section1 h2 {
        margin-left: 8%;
        font-size: 1.8rem;
    }
.s2_section1 .teaBox {
    width: 86.5%;
}
.s2_section1 .teaBox .box{
   margin: auto 0.3%;
}
.s2_section1 .teaBox .box .tea {
    bottom: 15px;
}
    .s2_section1 .desc{
        margin:auto 8%;
    margin-top: 2.6rem;
    font-size: 1rem;
    }

    .s2_section2 {
        margin: 200px 8%;
    }
    .s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
        height: 70px;
        line-height: 160%;
    }


    .footerI{
        font-size: 0.8rem;
        flex-direction: column-reverse;
     }
     .footerI .fRight {
        margin-bottom: 2rem;
     }

}
/* 
@media screen and (max-width:1194px) {
    .s2_section1 h2{
        font-size: 2rem;
    }
    .s2_section1 .teaBox .box .tea {
        width: 146px;
        height: 36px;
        line-height: 36px;
        font-size: 0.8rem;
        bottom: 18px;
    }

    .s2_section2 .itemBox {
        row-gap: 11rem;

    }

    .s2_section2 .itemBox .item .itemInfo {
        margin-top: 2.6rem;
    }

    .s2_section2 .itemBox .item .itemInfo .underline {
        height: 4.5rem;
        font-size: 1.1rem;
    }

    .footerI .underTop {
        width: 70%;
    }
} */
/* 
@media screen and (max-width:968px) {
   
    #sub2_wrap {
        top: 140px;
            
        }
    .s2_section2 .itemBox {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8rem;
    }

    .s2_section2 .itemBox .item .itemInfo p {
        font-size: 1rem;
    }

    .s2_section2 .itemBox .item .itemInfo .underline {
        font-size: 1.3rem;
        height: 5rem;
    }

    .footerI .lineBox .csBox,
    .footerI .lineBox .serBox {
        width: 50%;
        margin-right: 1rem;
    }
} */

@media screen and (max-width:769px) {
    header .headeri {
        height: 80px;
    }

    .logo {
        width: 120px;
    }

    header .icon {
        display: none;
    }

    header {
        padding: 0 8%;
    }

    header .menu {
        display: block;
    }

    nav ul {
        display: none;
    }
    .s2_section1 h2 {
        font-size: 1.7rem;
    }
    .s2_section1 .teaBox .box .tea {
        width: 146px;
        height: 36px;
        line-height: 36px;
        font-size: 0.8rem;
        /* bottom: 10px; */
    }

    .s2_section2 .itemBox {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15rem;
    }

    .s2_section2 .itemBox .item .itemInfo .underline {
        font-size: 1rem;
    }
    .s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
        height: 50px;
    }


    footer{
        padding-bottom: 2.5rem;
      }
      .footerI{
          padding-bottom: 5.5rem;  
          align-items: flex-start;
        }
  .hideInfo{
      display: block;
  }
  .footerI .fLeft{
      width: 100%;
      padding: 0;
  }
  .footerI .fLeft .underTop{
      display: none;
      margin-top: 1.2rem;
  }
  .footerI .fLeft .underLeft{
      display: none;
  }
  .footerI .fRight{
   width: 80%;
  }
  .footerI .fRight .csBox,
  .footerI .fRight .serBox {
      width: fit-content;
  }
  .footerI .copy {
      bottom: 46px;
  }
      .footerI .sns{
          bottom: 0;
          left: 64px;
      }
}

@media screen and (max-width:576px) {
    .s2_section1 h2 {
        font-size: 1.5rem;
    }
    .s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
        height: 70px;
        margin-top: 16px;
        margin-bottom: 14px;
    }
    .s2_section2 .itemBox .item .itemInfo .underline>p:first-of-type {
        margin-bottom:1.2rem;
        height: 36px;
        line-height: 150%;
    }
    .footerI .fRight{
        width: 100%;
       }
}

@media screen and (max-width:451px){
    .logo {
        width: 100px;
    }
    .s2_section1 .teaBox .box .tea {
        width: 134px;
        height: 32px;
        line-height: 32px;
        font-size: 0.7rem;
        bottom: 10px;
    }
.s2_section1 .desc {
    font-size: 0.9rem;
}

.s2_section2 .itemBox{
    row-gap: 13.6rem;
    column-gap: 1rem;
}

    .s2_section2 .itemBox .item .itemInfo>p {
        font-size: 0.8rem;

    }
    .s2_section2 .itemBox .item .itemInfo .underline {
        font-size: 0.9rem;
    }

    .footerI {
        padding:3rem 3rem ;
        padding-bottom: 7rem;
    }
    .footerI .copy{
        width:79%;
       line-height: 180%;
       left: 48px;
       bottom: 50px;
       /* margin-top: 0; */

    }
    .footerI .sns{
left: 48px;
    }
}





@media screen and (max-width:391px) {
 
    /* .s2_section1 .teaBox .box .tea {
        width: 134px;
        height: 32px;
        line-height: 32px;
        font-size: 0.7rem;
        bottom: 12px;
    }
    .s2_section1 h2{
        font-size: 1.6rem;
    }

    .s2_section1 .desc {
        font-size: 0.9rem;
    
        }
        .s2_section2 {
            margin:10rem 6%;
        }
    .s2_section2 .itemBox .item .itemInfo {
        padding-right: 20px;
    }

    .s2_section2 .itemBox .item .itemInfo p {
        font-size: 0.8rem;
    }

    .s2_section2 .itemBox .item .itemInfo .underline {
        font-size: 1rem;
        height: 5rem;
        padding-bottom: 5px;

    }

    .s2_section2 .itemBox .item .itemInfo p:nth-of-type(2) {
        margin-top: 12px;

    } */

}

@media screen and (max-width:281px) {
   
    /* .s2_section1 h2{
        font-size: 1.3rem;
    }

    .s2_section2 {
        margin: 12rem 4%;
    } */
    
}