@import url(./common.css);


/* sub2_wrap */
#sub2_wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 160px;
}

.s2_section1 {
    width: 100%;
    overflow: hidden;
}

.s2_section1 h2 {
    margin-left: 13.6%;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.s2_section1 .teaBox {
    width: 74.6%;
    margin: auto;
    position: relative;
}



.s2_section1 .teaBox .box {
    position: relative;
    overflow: hidden;
    margin: auto 0.31%;
}

.s2_section1 .teaBox .box a {
    display: inline-block;
    overflow: hidden;

}

.s2_section1 .teaBox .box figure {
    overflow: hidden;
}


.s2_section1 .teaBox .box .tea {
    font-family: "Inter", system-ui;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    width: 184px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);


}

.s2_section1 .desc {
    font-family: "Noto Sans KR", system-ui;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 160%;
    margin: auto 13.6%;
    margin-top: 2.6rem;
    max-width: 860px;
}


.s2_section2 {
    margin: 200px 13.6%;
}

.s2_section2 .dropFilter {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.s2_section2 .dropFilter select {
    display: inline-block;
    padding: 6px 9px;
    font-family: "Noto Sans KR", system-ui;
    font-size: 15px;
    font-size: 500;
    background-color: #f5f5f5;
    border: none;
}

.s2_section2 .check {
    display: inline-block;
    font-family: "Noto Sans KR", system-ui;
    font-size: 15px;
    font-size: 500;
    padding: 6px 12px;
    background-color: #f5f5f5;
}

.s2_section2 .itemBox {
    width: 100%;
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 14.3rem;
    column-gap: 1.9rem;
}

.s2_section2 .itemBox .item {
    overflow: hidden;
    margin: auto 0.58%;
}

.s2_section2 .itemBox .item .all {
    display: inline-block;
    overflow: hidden;
}

.s2_section2 .itemBox .item .itemInfo {
    overflow: hidden;
    margin-top: 1.6rem;
}

.s2_section2 .itemBox .item .itemInfo>p {
    font-family: "Inter", system-ui;
    font-weight: 300;
    font-size: 0.9rem;
    color: #777;
}

.s2_section2 .itemBox .item .itemInfo>p:first-of-type {
    height: 20px;
    line-height: 20px;
}

.s2_section2 .itemBox .item .itemInfo .underline {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 0.8rem;
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid #ddd;
    color: #000;
}

.s2_section2 .itemBox .item .itemInfo .underline>p:first-of-type {
    margin-bottom: 8px;
}

.s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
    height: 32px;
    margin-top: 12px;
    margin-bottom: 16px;
    font-family: "Noto Sans KR", system-ui;
    font-weight: 400;
    color: #000;
}

.s2_section2 .itemBox .item .itemInfo>p:nth-of-type(3) {
    height: 20px;
    line-height: 20px;
    font-weight: 400;
}





/* 반응형 */
@media screen and (max-width:1680px) {

    header {
        padding: 0 13.6%;
    }
}

@media screen and (max-width:1400px) {

    header .icon {
        display: none;
    }

    header .menu {
        display: block;
    }

    nav ul {
        display: none;
    }
}

@media screen and (max-width:1025px) {
    .logo {
        width: 120px;
    }

    header {
        padding: 0 8%;
    }

    nav ul {
        width: 50vw;
        margin-right: 2.6rem;

    }

    header .icon button {
        width: 18px;
        height: 18px;
        margin-right: 1rem;
    }

    header .icon li {
        margin-left: 1rem;
        width: 18px;
        height: 18px;
    }

    .s2_section1 h2 {
        margin-left: 8%;
        font-size: 1.8rem;
    }

    .s2_section1 .teaBox {
        width: 86.5%;
    }

    .s2_section1 .teaBox .box {
        margin: auto 0.3%;
    }

    .s2_section1 .teaBox .box .tea {
        bottom: 15px;
    }

    .s2_section1 .desc {
        margin: auto 8%;
        margin-top: 2.6rem;
        font-size: 1rem;
    }

    .s2_section2 {
        margin: 200px 8%;
    }

    .s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
        height: 70px;
        line-height: 160%;
    }


    .footerI {
        font-size: 0.8rem;
        flex-direction: column-reverse;
    }

    .footerI .fRight {
        margin-bottom: 2rem;
    }

}


@media screen and (max-width:769px) {

    header .icon {
        display: none;
    }


    header .menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    .s2_section1 h2 {
        font-size: 1.7rem;
    }

    .s2_section1 .teaBox .box .tea {
        width: 146px;
        height: 36px;
        line-height: 36px;
        font-size: 0.8rem;
    }

    .s2_section2 .itemBox {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15rem;
    }

    .s2_section2 .itemBox .item .itemInfo .underline {
        font-size: 1rem;
    }

    .s2_section2 .itemBox .item .itemInfo>p:nth-of-type(2) {
        height: 50px;
    }


    footer {
        padding-bottom: 2.5rem;
    }

    .footerI {
        padding-bottom: 5.5rem;
        align-items: flex-start;
    }

    .hideInfo {
        display: block;
    }

    .footerI .fLeft {
        width: 100%;
        padding: 0;
    }

    .footerI .fLeft .underTop {
        display: none;
        margin-top: 1.2rem;
    }

    .footerI .fLeft .underLeft {
        display: none;
    }

    .footerI .fRight {
        width: 80%;
    }

    .footerI .fRight .csBox,
    .footerI .fRight .serBox {
        width: fit-content;
    }

    .footerI .copy {
        bottom: 46px;
    }

    .footerI .sns {
        bottom: 0;
        left: 64px;
    }
}

@media screen and (max-width:576px) {
    .s2_section1 h2 {
        font-size: 1.5rem;
    }


    .footerI .fRight {
        width: 100%;
    }
}

@media screen and (max-width:451px) {
    .logo {
        width: 100px;
    }

    .s2_section1 .teaBox .box .tea {
        width: 134px;
        height: 32px;
        line-height: 32px;
        font-size: 0.7rem;
        bottom: 10px;
    }

    .s2_section1 .desc {
        font-size: 0.9rem;
    }

    .s2_section2 .itemBox {
        row-gap: 13.6rem;
        column-gap: 1rem;
    }

    .s2_section2 .itemBox .item .itemInfo>p {
        font-size: 0.8rem;

    }

    .s2_section2 .itemBox .item .itemInfo .underline {
        font-size: 0.9rem;

    }

    .s2_section2 .itemBox .item .itemInfo .underline>p:first-of-type {
        height: 30px;
        margin-bottom: 10px;

    }

    .footerI {
        padding: 3rem 3rem;
        padding-bottom: 7rem;
    }

    .footerI .copy {
        width: 79%;
        line-height: 180%;
        left: 48px;
        bottom: 50px;

    }

    .footerI .sns {
        left: 48px;
    }
}





@media screen and (max-width:391px) {

    .s2_section1 .teaBox .box {
        margin: auto 0.15%;
    }


}

@media screen and (max-width:321px) {
    .s2_section1 .teaBox .box .tea {
        width: 158px;
        height: 36px;
        line-height: 36px;
        font-size: 0.8rem;
        bottom: 25px;

    }


}

@media screen and (max-height:400px) {
    .mo_menu {
        /* background-color: sandybrown; */
        height: 100vh;
    }

    .mo_menu ul {
        margin-top: 15px;

    }

    .mo_menu ul li {
        padding: 16px 0;
    }
}